[Desktop Entry]
Version=2.3
Comment=Raspydarts
Terminal=false
Name=Raspydarts
Exec=/pydarts/RaspyDarts.sh
Type=Application
Icon=/pydarts/images/icon.png
Categories=Game
Path=/pydarts
GenericName=Awesome electronic darts game
